:root {
    /* Colors */
    --ActiveTitle: #cc1818 !important;
    --GradientActiveTitle: #7b1bb2 !important;
    --HotTrackingColor: #1d1bb2 !important;
    --Background: rgba(0, 0, 0, 0.25) !important;
}

@font-face {
    font-family: 'Fixedsys Excelsior';
    src: url('font/fixedsys-excelsior/fsex300-webfont.eot');
    src: url('font/fixedsys-excelsior/fsex300-webfont.eot?#iefix') format('embedded-opentype'), url('font/fixedsys-excelsior/fsex300-webfont.woff') format('woff'), url('font/fixedsys-excelsior/fsex300-webfont.ttf') format('truetype'), url('font/fixedsys-excelsior/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: aliased;
    font-smooth: never;
}

.start-menu {
    width: calc(215px + 21px);
}

.start-menu li a:before,
.start-menu .back-link:before,
.the-thing-heading:before {
    content: "";
}

.start-menu li a:after {
    content: "»";
    float: right;
    padding-right: 5px;
    vertical-align: unset;
}

.start-menu-content {
    padding: 0px;
    font-family: "Fixedsys Excelsior", "MS Sans Serif", "Segoe UI", sans-serif;
    font-weight: 400;
}

.start-menu ul {
    margin: 5px 0;
}

.start-menu li a {
    width: 210px;
    height: 20px;
    background-color: rgb(175, 175, 175);
    color: black !important;
    text-decoration: none;
}

.start-menu li a:hover {
    text-decoration: underline;
    background-color: rgb(150, 150, 150);
}

.start-icon {
    padding-right: 5px;
    vertical-align: text-top;
}